//Imports
@import "../../assets/variables";
@import "../../assets/keyframes";

#blog-post {
  margin-top: 55px;
  margin-bottom: 55px;
  .hero {
    background-size: cover;
    background-position: center center;
  }
  h1.is-size-1 {
    font-family: $serif;
  }
  #post-content {
    margin-bottom: 50px;
  }
}
